/*UIKit*/
.uk-notification-message-success{
  background: #edfbf6!important;
  color: #32d296!important;
}

.uk-notification-message-danger{
  background: #fef4f6!important;
  color: #f0506e!important;
}

/* Html,Body */
html{
  height: 100%; 
}

body.background{
  background: url(../images/bg.jpg);
  background-size: cover;
  min-height: 100%;
}

/* Navbar */

nav img{
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

/* List */

.list .state{
  font-size: 10px;
  margin-top: -16px;
}

.list a.name{
  color: #777;
}

.list a.name:hover{
  text-decoration: none;
  color: #555;
}

.list .more{
  padding-top: 25px;
}

.list .more .order{
  padding-left: 25px;
  padding-right: 25px;
}

.list .more .order img{
  width: 30px;
  height: 30px;
}

.list .more .order .vertical-fix{
  padding-top: 3px;
}

.list .more .order .delete{
  margin-top: 5px;
  padding-left: 0px;
  margin-left: 5px;
  margin-right: -25px;
}

.list .orderform button{
  margin-top: 24px;
}

/*Cover*/
.uk-position-cover#loading{
  z-index: 999;
  background: #fff;
}
